body {
    overflow: hidden;
}

.login-panel p {
    margin: 5px 0;
    color: red;
}

.first_half {
    display: cover;
    min-height: 100%;
    background: linear-gradient(90deg, #000046 0%, #1CB5E0 100%);
    padding-top: 100px;
    position: fixed;
}

.head_name {
    color: #fff;
    font-weight: 200;
    margin: 30px 0;
    font-size: 35px;
    text-transform: capitalize;
}

.login-panel {
    padding: 80px 10px;
    margin-bottom: 5px;
}

.login-panel h3 {
    font-weight: 700;
    font-size: 20px;
}

.border-bottom {
    display: inline-block;
    content: "";
    border-top: .3rem solid #ffd027;
    width: 4rem;
    margin: 1rem 0;
    transform: translateY(-1rem);
}

.btn,
.form-control {
    border-radius: 0px !important;
}

.centerinfo {
    color: #fff;
    font-size: 1.1em;
    margin: 0;
    font-weight: 100;
}

.aadhaar-logo {
    width: 100px;
}

.top-bar {
    padding: 5px 0;
}

table.logo-table td {
    padding: 5px;
    vertical-align: middle;
}

.logo-table .main-h {
    font-size: 22px;
    font-weight: bold;
}

ul.inline-ul {
    margin-top: 25px;
}

ul.inline-ul a {
    color: red;
    text-decoration: none;
}

ul.inline-ul li {
    display: inline;
    padding-left: 10px;
}

.booking-info {
    padding: 10px 0px;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body {
        overflow: auto;
    }

    .first_half {
        display: cover;
        min-height: 100%;
        background: linear-gradient(90deg, #000046 0%, #1CB5E0 100%);
        padding-top: 100px;
        position: relative;
    }

    .head_name {
        color: #fff;
        font-weight: 200;
        margin: 10px 0;
        font-size: 25px;
        text-transform: uppercase;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    body {
        overflow: auto;
    }

    .first_half {
        display: cover;
        min-height: 100%;
        background: linear-gradient(90deg, #000046 0%, #1CB5E0 100%);
        padding-top: 100px;
        position: relative;
    }

    .head_name {
        color: #fff;
        font-weight: 200;
        margin: 10px 0;
        font-size: 25px;
        text-transform: uppercase;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}